
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myServiceCenterLabel" data-translate="newLtlApp.serviceCenter.home.createOrEditLabel">Create or edit a Service Center</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serviceCenter.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serviceCenter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.serviceCenter.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.alphaCode" for="field_alphaCode">Alpha Code</label>
            <input type="text" class="form-control" name="alphaCode" id="field_alphaCode"
                    ng-model="vm.serviceCenter.alphaCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.cityStateZip" for="field_cityStateZip">City State Zip</label>
            <input type="text" class="form-control" name="cityStateZip" id="field_cityStateZip"
                    ng-model="vm.serviceCenter.cityStateZip"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.serviceCenter.country"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.emailAddress" for="field_emailAddress">Email Address</label>
            <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                    ng-model="vm.serviceCenter.emailAddress"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax"
                    ng-model="vm.serviceCenter.fax"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.manager" for="field_manager">Manager</label>
            <input type="text" class="form-control" name="manager" id="field_manager"
                    ng-model="vm.serviceCenter.manager"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.serviceCenter.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.serviceCenter.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.serviceCenter.phone"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
