
<div>
    <h2><span data-translate="newLtlApp.serviceCenter.detail.title">Service Center</span> {{vm.serviceCenter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.serviceCenter.address">Address</span></dt>
        <dd>
            <span>{{vm.serviceCenter.address}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.alphaCode">Alpha Code</span></dt>
        <dd>
            <span>{{vm.serviceCenter.alphaCode}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.cityStateZip">City State Zip</span></dt>
        <dd>
            <span>{{vm.serviceCenter.cityStateZip}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.country">Country</span></dt>
        <dd>
            <span>{{vm.serviceCenter.country}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.emailAddress">Email Address</span></dt>
        <dd>
            <span>{{vm.serviceCenter.emailAddress}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.fax">Fax</span></dt>
        <dd>
            <span>{{vm.serviceCenter.fax}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.manager">Manager</span></dt>
        <dd>
            <span>{{vm.serviceCenter.manager}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.name">Name</span></dt>
        <dd>
            <span>{{vm.serviceCenter.name}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.serviceCenter.phone">Phone</span></dt>
        <dd>
            <span>{{vm.serviceCenter.phone}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="service-center-detail.edit({id:vm.serviceCenter.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
