<div>
    <h2 data-translate="newLtlApp.serviceCenter.home.title">Service Centers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="service-center.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.serviceCenter.home.createLabel">
                        Create new Service Center
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.address">Address</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.alphaCode">Alpha Code</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.cityStateZip">City State Zip</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.country">Country</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.emailAddress">Email Address</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.fax">Fax</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.manager">Manager</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.name">Name</span></th>
                    <th><span data-translate="newLtlApp.serviceCenter.phone">Phone</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="serviceCenter in vm.serviceCenters track by serviceCenter.id">
                    <td><a ui-sref="service-center-detail({id:serviceCenter.id})">{{serviceCenter.id}}</a></td>
                    <td>{{serviceCenter.address}}</td>
                    <td>{{serviceCenter.alphaCode}}</td>
                    <td>{{serviceCenter.cityStateZip}}</td>
                    <td>{{serviceCenter.country}}</td>
                    <td>{{serviceCenter.emailAddress}}</td>
                    <td>{{serviceCenter.fax}}</td>
                    <td>{{serviceCenter.manager}}</td>
                    <td>{{serviceCenter.name}}</td>
                    <td>{{serviceCenter.phone}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="service-center-detail({id:serviceCenter.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service-center.edit({id:serviceCenter.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service-center.delete({id:serviceCenter.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
