
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreightUnitLabel" data-translate="newLtlApp.freightUnit.home.createOrEditLabel">Create or edit a Freight Unit</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freightUnit.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freightUnit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.actualClass" for="field_actualClass">Actual Class</label>
            <input type="number" class="form-control" name="actualClass" id="field_actualClass"
                    ng-model="vm.freightUnit.actualClass"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.dimL" for="field_dimL">Dim L</label>
            <input type="number" class="form-control" name="dimL" id="field_dimL"
                    ng-model="vm.freightUnit.dimL"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.dimW" for="field_dimW">Dim W</label>
            <input type="number" class="form-control" name="dimW" id="field_dimW"
                    ng-model="vm.freightUnit.dimW"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.dimH" for="field_dimH">Dim H</label>
            <input type="number" class="form-control" name="dimH" id="field_dimH"
                    ng-model="vm.freightUnit.dimH"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.dimUnit" for="field_dimUnit">Dim Unit</label>
            <input type="text" class="form-control" name="dimUnit" id="field_dimUnit"
                    ng-model="vm.freightUnit.dimUnit"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.nmfc" for="field_nmfc">Nmfc</label>
            <input type="number" class="form-control" name="nmfc" id="field_nmfc"
                    ng-model="vm.freightUnit.nmfc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.nmfcSub" for="field_nmfcSub">Nmfc Sub</label>
            <input type="number" class="form-control" name="nmfcSub" id="field_nmfcSub"
                    ng-model="vm.freightUnit.nmfcSub"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.numberOfUnits" for="field_numberOfUnits">Number Of Units</label>
            <input type="number" class="form-control" name="numberOfUnits" id="field_numberOfUnits"
                    ng-model="vm.freightUnit.numberOfUnits"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.ratedClass" for="field_ratedClass">Rated Class</label>
            <input type="number" class="form-control" name="ratedClass" id="field_ratedClass"
                    ng-model="vm.freightUnit.ratedClass"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.freightUnit.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="vm.freightUnit.weight"
                    required/>
            <div ng-show="editForm.weight.$invalid">
                <p class="help-block"
                    ng-show="editForm.weight.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.weight.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="newLtlApp.freightUnit.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.freightUnit.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
