<div>
    <h2 data-translate="newLtlApp.freightUnit.home.title">Freight Units</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="freight-unit.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.freightUnit.home.createLabel">
                        Create new Freight Unit
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.actualClass">Actual Class</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.dimL">Dim L</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.dimW">Dim W</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.dimH">Dim H</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.dimUnit">Dim Unit</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.nmfc">Nmfc</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.nmfcSub">Nmfc Sub</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.numberOfUnits">Number Of Units</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.ratedClass">Rated Class</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.weight">Weight</span></th>
                    <th><span data-translate="newLtlApp.freightUnit.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="freightUnit in vm.freightUnits track by freightUnit.id">
                    <td><a ui-sref="freight-unit-detail({id:freightUnit.id})">{{freightUnit.id}}</a></td>
                    <td>{{freightUnit.actualClass}}</td>
                    <td>{{freightUnit.dimL}}</td>
                    <td>{{freightUnit.dimW}}</td>
                    <td>{{freightUnit.dimH}}</td>
                    <td>{{freightUnit.dimUnit}}</td>
                    <td>{{freightUnit.nmfc}}</td>
                    <td>{{freightUnit.nmfcSub}}</td>
                    <td>{{freightUnit.numberOfUnits}}</td>
                    <td>{{freightUnit.ratedClass}}</td>
                    <td>{{freightUnit.weight}}</td>
                    <td>
                        {{freightUnit.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="freight-unit-detail({id:freightUnit.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freight-unit.edit({id:freightUnit.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freight-unit.delete({id:freightUnit.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
