
<div>
    <h2><span data-translate="newLtlApp.freightUnit.detail.title">Freight Unit</span> {{vm.freightUnit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.freightUnit.actualClass">Actual Class</span></dt>
        <dd>
            <span>{{vm.freightUnit.actualClass}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.dimL">Dim L</span></dt>
        <dd>
            <span>{{vm.freightUnit.dimL}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.dimW">Dim W</span></dt>
        <dd>
            <span>{{vm.freightUnit.dimW}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.dimH">Dim H</span></dt>
        <dd>
            <span>{{vm.freightUnit.dimH}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.dimUnit">Dim Unit</span></dt>
        <dd>
            <span>{{vm.freightUnit.dimUnit}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.nmfc">Nmfc</span></dt>
        <dd>
            <span>{{vm.freightUnit.nmfc}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.nmfcSub">Nmfc Sub</span></dt>
        <dd>
            <span>{{vm.freightUnit.nmfcSub}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.numberOfUnits">Number Of Units</span></dt>
        <dd>
            <span>{{vm.freightUnit.numberOfUnits}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.ratedClass">Rated Class</span></dt>
        <dd>
            <span>{{vm.freightUnit.ratedClass}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.weight">Weight</span></dt>
        <dd>
            <span>{{vm.freightUnit.weight}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.freightUnit.user">User</span></dt>
        <dd>
            {{vm.freightUnit.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="freight-unit-detail.edit({id:vm.freightUnit.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
