
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPickupDeliveryTimeLabel" data-translate="newLtlApp.pickupDeliveryTime.home.createOrEditLabel">Create or edit a Pickup Delivery Time</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pickupDeliveryTime.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pickupDeliveryTime.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.pickupDate" for="field_pickupDate">Pickup Date</label>
                <div class="input-group">
                    <input id="field_pickupDate" type="text" class="form-control" name="pickupDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pickupDeliveryTime.pickupDate" is-open="vm.datePickerOpenStatus.pickupDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('pickupDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.pickupWindowFrom" for="field_pickupWindowFrom">Pickup Window From</label>
            <input type="text" class="form-control" name="pickupWindowFrom" id="field_pickupWindowFrom"
                    ng-model="vm.pickupDeliveryTime.pickupWindowFrom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.pickupWindowTo" for="field_pickupWindowTo">Pickup Window To</label>
            <input type="text" class="form-control" name="pickupWindowTo" id="field_pickupWindowTo"
                    ng-model="vm.pickupDeliveryTime.pickupWindowTo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.deliveryDate" for="field_deliveryDate">Delivery Date</label>
                <div class="input-group">
                    <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pickupDeliveryTime.deliveryDate" is-open="vm.datePickerOpenStatus.deliveryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deliveryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowFrom" for="field_deliveryWindowFrom">Delivery Window From</label>
            <input type="text" class="form-control" name="deliveryWindowFrom" id="field_deliveryWindowFrom"
                    ng-model="vm.pickupDeliveryTime.deliveryWindowFrom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowTo" for="field_deliveryWindowTo">Delivery Window To</label>
            <input type="text" class="form-control" name="deliveryWindowTo" id="field_deliveryWindowTo"
                    ng-model="vm.pickupDeliveryTime.deliveryWindowTo"
                    />
        </div>

        <div class="form-group">
            <label data-translate="newLtlApp.pickupDeliveryTime.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.pickupDeliveryTime.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
