
<div>
    <h2><span data-translate="newLtlApp.pickupDeliveryTime.detail.title">Pickup Delivery Time</span> {{vm.pickupDeliveryTime.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.pickupDate">Pickup Date</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.pickupDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.pickupWindowFrom">Pickup Window From</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.pickupWindowFrom}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.pickupWindowTo">Pickup Window To</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.pickupWindowTo}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.deliveryDate">Delivery Date</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.deliveryDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowFrom">Delivery Window From</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.deliveryWindowFrom}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowTo">Delivery Window To</span></dt>
        <dd>
            <span>{{vm.pickupDeliveryTime.deliveryWindowTo}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.pickupDeliveryTime.user">User</span></dt>
        <dd>
            {{vm.pickupDeliveryTime.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="pickup-delivery-time-detail.edit({id:vm.pickupDeliveryTime.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
