<div>
    <h2 data-translate="newLtlApp.pickupDeliveryTime.home.title">Pickup Delivery Times</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pickup-delivery-time.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.pickupDeliveryTime.home.createLabel">
                        Create new Pickup Delivery Time
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.pickupDate">Pickup Date</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.pickupWindowFrom">Pickup Window From</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.pickupWindowTo">Pickup Window To</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.deliveryDate">Delivery Date</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowFrom">Delivery Window From</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.deliveryWindowTo">Delivery Window To</span></th>
                    <th><span data-translate="newLtlApp.pickupDeliveryTime.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pickupDeliveryTime in vm.pickupDeliveryTimes track by pickupDeliveryTime.id">
                    <td><a ui-sref="pickup-delivery-time-detail({id:pickupDeliveryTime.id})">{{pickupDeliveryTime.id}}</a></td>
                        <td>{{pickupDeliveryTime.pickupDate | date:'mediumDate'}}</td>
                    <td>{{pickupDeliveryTime.pickupWindowFrom}}</td>
                    <td>{{pickupDeliveryTime.pickupWindowTo}}</td>
                        <td>{{pickupDeliveryTime.deliveryDate | date:'mediumDate'}}</td>
                    <td>{{pickupDeliveryTime.deliveryWindowFrom}}</td>
                    <td>{{pickupDeliveryTime.deliveryWindowTo}}</td>
                    <td>
                        {{pickupDeliveryTime.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pickup-delivery-time-detail({id:pickupDeliveryTime.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pickup-delivery-time.edit({id:pickupDeliveryTime.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pickup-delivery-time.delete({id:pickupDeliveryTime.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
