
<div>
    <h2><span data-translate="newLtlApp.accessorials.detail.title">Accessorials</span> {{vm.accessorials.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.accessorials.arrivalNotification">Arrival Notification</span></dt>
        <dd>
            <span>{{vm.accessorials.arrivalNotification}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.appointment">Appointment</span></dt>
        <dd>
            <span>{{vm.accessorials.appointment}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.liftgatePickup">Liftgate Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.liftgatePickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.liftgateDelivery">Liftgate Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.liftgateDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.residentialNoncommercialPickup">Residential Noncommercial Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.residentialNoncommercialPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.residentialNoncommercialDelivery">Residential Noncommercial Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.residentialNoncommercialDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.insidePickup">Inside Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.insidePickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.insideDelivery">Inside Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.insideDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.tradeshowPickup">Tradeshow Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.tradeshowPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.tradeshowDelivery">Tradeshow Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.tradeshowDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.airportPickup">Airport Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.airportPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.airportDelivery">Airport Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.airportDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.schoolsCollegesChurchesPickup">Schools Colleges Churches Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.schoolsCollegesChurchesPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.schoolsCollegesChurchesDelivery">Schools Colleges Churches Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.schoolsCollegesChurchesDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.constructionSitePickup">Construction Site Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.constructionSitePickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.constructionSiteDelivery">Construction Site Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.constructionSiteDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.securedLimitedAccessPickup">Secured Limited Access Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.securedLimitedAccessPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.securedLimitedAccessDelivery">Secured Limited Access Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.securedLimitedAccessDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.overlength12to20">Overlength 12 To 20</span></dt>
        <dd>
            <span>{{vm.accessorials.overlength12to20}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.overlength20to28">Overlength 20 To 28</span></dt>
        <dd>
            <span>{{vm.accessorials.overlength20to28}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.minesOrSkiResortsDelivery">Mines Or Ski Resorts Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.minesOrSkiResortsDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.selfStorageDelivery">Self Storage Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.selfStorageDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.protectFromFreezing">Protect From Freezing</span></dt>
        <dd>
            <span>{{vm.accessorials.protectFromFreezing}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.hazardousMaterials">Hazardous Materials</span></dt>
        <dd>
            <span>{{vm.accessorials.hazardousMaterials}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.notificationPriorToDelivery">Notification Prior To Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.notificationPriorToDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.notificationPriorToPickup">Notification Prior To Pickup</span></dt>
        <dd>
            <span>{{vm.accessorials.notificationPriorToPickup}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.addLCargoLiability">Add L Cargo Liability</span></dt>
        <dd>
            <span>{{vm.accessorials.addLCargoLiability}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.collectOnDelivery">Collect On Delivery</span></dt>
        <dd>
            <span>{{vm.accessorials.collectOnDelivery}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.specialInstructions">Special Instructions</span></dt>
        <dd>
            <span>{{vm.accessorials.specialInstructions}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.accessorials.user">User</span></dt>
        <dd>
            {{vm.accessorials.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="accessorials-detail.edit({id:vm.accessorials.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
