<div>
    <h2 data-translate="newLtlApp.accessorials.home.title">Accessorials</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="accessorials.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.accessorials.home.createLabel">
                        Create new Accessorials
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="newLtlApp.accessorials.arrivalNotification">Arrival Notification</span></th>
                    <th><span data-translate="newLtlApp.accessorials.appointment">Appointment</span></th>
                    <th><span data-translate="newLtlApp.accessorials.liftgatePickup">Liftgate Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.liftgateDelivery">Liftgate Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.residentialNoncommercialPickup">Residential Noncommercial Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.residentialNoncommercialDelivery">Residential Noncommercial Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.insidePickup">Inside Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.insideDelivery">Inside Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.tradeshowPickup">Tradeshow Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.tradeshowDelivery">Tradeshow Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.airportPickup">Airport Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.airportDelivery">Airport Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.schoolsCollegesChurchesPickup">Schools Colleges Churches Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.schoolsCollegesChurchesDelivery">Schools Colleges Churches Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.constructionSitePickup">Construction Site Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.constructionSiteDelivery">Construction Site Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.securedLimitedAccessPickup">Secured Limited Access Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.securedLimitedAccessDelivery">Secured Limited Access Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.overlength12to20">Overlength 12 To 20</span></th>
                    <th><span data-translate="newLtlApp.accessorials.overlength20to28">Overlength 20 To 28</span></th>
                    <th><span data-translate="newLtlApp.accessorials.minesOrSkiResortsDelivery">Mines Or Ski Resorts Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.selfStorageDelivery">Self Storage Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.protectFromFreezing">Protect From Freezing</span></th>
                    <th><span data-translate="newLtlApp.accessorials.hazardousMaterials">Hazardous Materials</span></th>
                    <th><span data-translate="newLtlApp.accessorials.notificationPriorToDelivery">Notification Prior To Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.notificationPriorToPickup">Notification Prior To Pickup</span></th>
                    <th><span data-translate="newLtlApp.accessorials.addLCargoLiability">Add L Cargo Liability</span></th>
                    <th><span data-translate="newLtlApp.accessorials.collectOnDelivery">Collect On Delivery</span></th>
                    <th><span data-translate="newLtlApp.accessorials.specialInstructions">Special Instructions</span></th>
                    <th><span data-translate="newLtlApp.accessorials.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="accessorials in vm.accessorials track by accessorials.id">
                    <td><a ui-sref="accessorials-detail({id:accessorials.id})">{{accessorials.id}}</a></td>
                    <td>{{accessorials.arrivalNotification}}</td>
                    <td>{{accessorials.appointment}}</td>
                    <td>{{accessorials.liftgatePickup}}</td>
                    <td>{{accessorials.liftgateDelivery}}</td>
                    <td>{{accessorials.residentialNoncommercialPickup}}</td>
                    <td>{{accessorials.residentialNoncommercialDelivery}}</td>
                    <td>{{accessorials.insidePickup}}</td>
                    <td>{{accessorials.insideDelivery}}</td>
                    <td>{{accessorials.tradeshowPickup}}</td>
                    <td>{{accessorials.tradeshowDelivery}}</td>
                    <td>{{accessorials.airportPickup}}</td>
                    <td>{{accessorials.airportDelivery}}</td>
                    <td>{{accessorials.schoolsCollegesChurchesPickup}}</td>
                    <td>{{accessorials.schoolsCollegesChurchesDelivery}}</td>
                    <td>{{accessorials.constructionSitePickup}}</td>
                    <td>{{accessorials.constructionSiteDelivery}}</td>
                    <td>{{accessorials.securedLimitedAccessPickup}}</td>
                    <td>{{accessorials.securedLimitedAccessDelivery}}</td>
                    <td>{{accessorials.overlength12to20}}</td>
                    <td>{{accessorials.overlength20to28}}</td>
                    <td>{{accessorials.minesOrSkiResortsDelivery}}</td>
                    <td>{{accessorials.selfStorageDelivery}}</td>
                    <td>{{accessorials.protectFromFreezing}}</td>
                    <td>{{accessorials.hazardousMaterials}}</td>
                    <td>{{accessorials.notificationPriorToDelivery}}</td>
                    <td>{{accessorials.notificationPriorToPickup}}</td>
                    <td>{{accessorials.addLCargoLiability}}</td>
                    <td>{{accessorials.collectOnDelivery}}</td>
                    <td>{{accessorials.specialInstructions}}</td>
                    <td>
                        {{accessorials.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="accessorials-detail({id:accessorials.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="accessorials.edit({id:accessorials.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="accessorials.delete({id:accessorials.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
