
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAccessorialsLabel" data-translate="newLtlApp.accessorials.home.createOrEditLabel">Create or edit a Accessorials</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.accessorials.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.accessorials.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.arrivalNotification" for="field_arrivalNotification">Arrival Notification</label>
                <input type="checkbox" name="arrivalNotification" id="field_arrivalNotification"
                          ng-model="vm.accessorials.arrivalNotification"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.appointment" for="field_appointment">Appointment</label>
                <input type="checkbox" name="appointment" id="field_appointment"
                          ng-model="vm.accessorials.appointment"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.liftgatePickup" for="field_liftgatePickup">Liftgate Pickup</label>
                <input type="checkbox" name="liftgatePickup" id="field_liftgatePickup"
                          ng-model="vm.accessorials.liftgatePickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.liftgateDelivery" for="field_liftgateDelivery">Liftgate Delivery</label>
                <input type="checkbox" name="liftgateDelivery" id="field_liftgateDelivery"
                          ng-model="vm.accessorials.liftgateDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.residentialNoncommercialPickup" for="field_residentialNoncommercialPickup">Residential Noncommercial Pickup</label>
                <input type="checkbox" name="residentialNoncommercialPickup" id="field_residentialNoncommercialPickup"
                          ng-model="vm.accessorials.residentialNoncommercialPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.residentialNoncommercialDelivery" for="field_residentialNoncommercialDelivery">Residential Noncommercial Delivery</label>
                <input type="checkbox" name="residentialNoncommercialDelivery" id="field_residentialNoncommercialDelivery"
                          ng-model="vm.accessorials.residentialNoncommercialDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.insidePickup" for="field_insidePickup">Inside Pickup</label>
                <input type="checkbox" name="insidePickup" id="field_insidePickup"
                          ng-model="vm.accessorials.insidePickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.insideDelivery" for="field_insideDelivery">Inside Delivery</label>
                <input type="checkbox" name="insideDelivery" id="field_insideDelivery"
                          ng-model="vm.accessorials.insideDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.tradeshowPickup" for="field_tradeshowPickup">Tradeshow Pickup</label>
                <input type="checkbox" name="tradeshowPickup" id="field_tradeshowPickup"
                          ng-model="vm.accessorials.tradeshowPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.tradeshowDelivery" for="field_tradeshowDelivery">Tradeshow Delivery</label>
                <input type="checkbox" name="tradeshowDelivery" id="field_tradeshowDelivery"
                          ng-model="vm.accessorials.tradeshowDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.airportPickup" for="field_airportPickup">Airport Pickup</label>
                <input type="checkbox" name="airportPickup" id="field_airportPickup"
                          ng-model="vm.accessorials.airportPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.airportDelivery" for="field_airportDelivery">Airport Delivery</label>
                <input type="checkbox" name="airportDelivery" id="field_airportDelivery"
                          ng-model="vm.accessorials.airportDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.schoolsCollegesChurchesPickup" for="field_schoolsCollegesChurchesPickup">Schools Colleges Churches Pickup</label>
                <input type="checkbox" name="schoolsCollegesChurchesPickup" id="field_schoolsCollegesChurchesPickup"
                          ng-model="vm.accessorials.schoolsCollegesChurchesPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.schoolsCollegesChurchesDelivery" for="field_schoolsCollegesChurchesDelivery">Schools Colleges Churches Delivery</label>
                <input type="checkbox" name="schoolsCollegesChurchesDelivery" id="field_schoolsCollegesChurchesDelivery"
                          ng-model="vm.accessorials.schoolsCollegesChurchesDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.constructionSitePickup" for="field_constructionSitePickup">Construction Site Pickup</label>
                <input type="checkbox" name="constructionSitePickup" id="field_constructionSitePickup"
                          ng-model="vm.accessorials.constructionSitePickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.constructionSiteDelivery" for="field_constructionSiteDelivery">Construction Site Delivery</label>
                <input type="checkbox" name="constructionSiteDelivery" id="field_constructionSiteDelivery"
                          ng-model="vm.accessorials.constructionSiteDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.securedLimitedAccessPickup" for="field_securedLimitedAccessPickup">Secured Limited Access Pickup</label>
                <input type="checkbox" name="securedLimitedAccessPickup" id="field_securedLimitedAccessPickup"
                          ng-model="vm.accessorials.securedLimitedAccessPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.securedLimitedAccessDelivery" for="field_securedLimitedAccessDelivery">Secured Limited Access Delivery</label>
                <input type="checkbox" name="securedLimitedAccessDelivery" id="field_securedLimitedAccessDelivery"
                          ng-model="vm.accessorials.securedLimitedAccessDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.overlength12to20" for="field_overlength12to20">Overlength 12 To 20</label>
                <input type="checkbox" name="overlength12to20" id="field_overlength12to20"
                          ng-model="vm.accessorials.overlength12to20"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.overlength20to28" for="field_overlength20to28">Overlength 20 To 28</label>
                <input type="checkbox" name="overlength20to28" id="field_overlength20to28"
                          ng-model="vm.accessorials.overlength20to28"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.minesOrSkiResortsDelivery" for="field_minesOrSkiResortsDelivery">Mines Or Ski Resorts Delivery</label>
                <input type="checkbox" name="minesOrSkiResortsDelivery" id="field_minesOrSkiResortsDelivery"
                          ng-model="vm.accessorials.minesOrSkiResortsDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.selfStorageDelivery" for="field_selfStorageDelivery">Self Storage Delivery</label>
                <input type="checkbox" name="selfStorageDelivery" id="field_selfStorageDelivery"
                          ng-model="vm.accessorials.selfStorageDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.protectFromFreezing" for="field_protectFromFreezing">Protect From Freezing</label>
                <input type="checkbox" name="protectFromFreezing" id="field_protectFromFreezing"
                          ng-model="vm.accessorials.protectFromFreezing"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.hazardousMaterials" for="field_hazardousMaterials">Hazardous Materials</label>
                <input type="checkbox" name="hazardousMaterials" id="field_hazardousMaterials"
                          ng-model="vm.accessorials.hazardousMaterials"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.notificationPriorToDelivery" for="field_notificationPriorToDelivery">Notification Prior To Delivery</label>
                <input type="checkbox" name="notificationPriorToDelivery" id="field_notificationPriorToDelivery"
                          ng-model="vm.accessorials.notificationPriorToDelivery"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.notificationPriorToPickup" for="field_notificationPriorToPickup">Notification Prior To Pickup</label>
                <input type="checkbox" name="notificationPriorToPickup" id="field_notificationPriorToPickup"
                          ng-model="vm.accessorials.notificationPriorToPickup"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.addLCargoLiability" for="field_addLCargoLiability">Add L Cargo Liability</label>
            <input type="number" class="form-control" name="addLCargoLiability" id="field_addLCargoLiability"
                    ng-model="vm.accessorials.addLCargoLiability"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.collectOnDelivery" for="field_collectOnDelivery">Collect On Delivery</label>
            <input type="number" class="form-control" name="collectOnDelivery" id="field_collectOnDelivery"
                    ng-model="vm.accessorials.collectOnDelivery"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.accessorials.specialInstructions" for="field_specialInstructions">Special Instructions</label>
            <input type="text" class="form-control" name="specialInstructions" id="field_specialInstructions"
                    ng-model="vm.accessorials.specialInstructions"
                    />
        </div>

        <div class="form-group">
            <label data-translate="newLtlApp.accessorials.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.accessorials.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
