
<div>
    <h2><span data-translate="newLtlApp.addressBook.detail.title">Address Book</span> {{vm.addressBook.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.addressBook.companyName">Company Name</span></dt>
        <dd>
            <span>{{vm.addressBook.companyName}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.address">Address</span></dt>
        <dd>
            <span>{{vm.addressBook.address}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.phone">Phone</span></dt>
        <dd>
            <span>{{vm.addressBook.phone}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.email">Email</span></dt>
        <dd>
            <span>{{vm.addressBook.email}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.fax">Fax</span></dt>
        <dd>
            <span>{{vm.addressBook.fax}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.accountNumber">Account Number</span></dt>
        <dd>
            <span>{{vm.addressBook.accountNumber}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.type">Type</span></dt>
        <dd>
            <span>{{vm.addressBook.type}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.user">User</span></dt>
        <dd>
            {{vm.addressBook.user.id}}
        </dd>
        <dt><span data-translate="newLtlApp.addressBook.postalCode">Postal Code</span></dt>
        <dd>
            <a ui-sref="postal-code-detail({id:vm.addressBook.postalCode.id})">{{vm.addressBook.postalCode.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="address-book-detail.edit({id:vm.addressBook.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
