<div>
    <h2 data-translate="newLtlApp.addressBook.home.title">Address Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="address-book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.addressBook.home.createLabel">
                        Create new Address Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="newLtlApp.addressBook.companyName">Company Name</span></th>
                    <th><span data-translate="newLtlApp.addressBook.address">Address</span></th>
                    <th><span data-translate="newLtlApp.addressBook.phone">Phone</span></th>
                    <th><span data-translate="newLtlApp.addressBook.email">Email</span></th>
                    <th><span data-translate="newLtlApp.addressBook.fax">Fax</span></th>
                    <th><span data-translate="newLtlApp.addressBook.accountNumber">Account Number</span></th>
                    <th><span data-translate="newLtlApp.addressBook.type">Type</span></th>
                    <th><span data-translate="newLtlApp.addressBook.user">User</span></th>
                    <th><span data-translate="newLtlApp.addressBook.postalCode">Postal Code</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="addressBook in vm.addressBooks track by addressBook.id">
                    <td><a ui-sref="address-book-detail({id:addressBook.id})">{{addressBook.id}}</a></td>
                    <td>{{addressBook.companyName}}</td>
                    <td>{{addressBook.address}}</td>
                    <td>{{addressBook.phone}}</td>
                    <td>{{addressBook.email}}</td>
                    <td>{{addressBook.fax}}</td>
                    <td>{{addressBook.accountNumber}}</td>
                    <td>{{addressBook.type}}</td>
                    <td>
                        {{addressBook.user.id}}
                    </td>
                    <td>
                        <a ui-sref="postal-code-detail({id:addressBook.postalCode.id})">{{addressBook.postalCode.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="address-book-detail({id:addressBook.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.edit({id:addressBook.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.delete({id:addressBook.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
