
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPostalCodeLabel" data-translate="newLtlApp.postalCode.home.createOrEditLabel">Create or edit a Postal Code</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.postalCode.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.postalCode.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="vm.postalCode.zipCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.postalCode.state"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.postalCode.city"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.county" for="field_county">County</label>
            <input type="text" class="form-control" name="county" id="field_county"
                    ng-model="vm.postalCode.county"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.stateFips" for="field_stateFips">State Fips</label>
            <input type="number" class="form-control" name="stateFips" id="field_stateFips"
                    ng-model="vm.postalCode.stateFips"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.countyFip" for="field_countyFip">County Fip</label>
            <input type="number" class="form-control" name="countyFip" id="field_countyFip"
                    ng-model="vm.postalCode.countyFip"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.postalCode.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.postalCode.longitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.preference" for="field_preference">Preference</label>
            <input type="text" class="form-control" name="preference" id="field_preference"
                    ng-model="vm.postalCode.preference"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="newLtlApp.postalCode.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.postalCode.type"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
