<div>
    <h2 data-translate="newLtlApp.postalCode.home.title">Postal Codes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="postal-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="newLtlApp.postalCode.home.createLabel">
                        Create new Postal Code
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zipCode"><span data-translate="newLtlApp.postalCode.zipCode">Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="newLtlApp.postalCode.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="newLtlApp.postalCode.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="county"><span data-translate="newLtlApp.postalCode.county">County</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateFips"><span data-translate="newLtlApp.postalCode.stateFips">State Fips</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countyFip"><span data-translate="newLtlApp.postalCode.countyFip">County Fip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="newLtlApp.postalCode.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="newLtlApp.postalCode.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="preference"><span data-translate="newLtlApp.postalCode.preference">Preference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="newLtlApp.postalCode.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="postalCode in vm.postalCodes track by postalCode.id">
                    <td><a ui-sref="postal-code-detail({id:postalCode.id})">{{postalCode.id}}</a></td>
                    <td>{{postalCode.zipCode}}</td>
                    <td>{{postalCode.state}}</td>
                    <td>{{postalCode.city}}</td>
                    <td>{{postalCode.county}}</td>
                    <td>{{postalCode.stateFips}}</td>
                    <td>{{postalCode.countyFip}}</td>
                    <td>{{postalCode.latitude}}</td>
                    <td>{{postalCode.longitude}}</td>
                    <td>{{postalCode.preference}}</td>
                    <td>{{postalCode.type}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="postal-code-detail({id:postalCode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="postal-code.edit({id:postalCode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="postal-code.delete({id:postalCode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
