
<div>
    <h2><span data-translate="newLtlApp.postalCode.detail.title">Postal Code</span> {{vm.postalCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="newLtlApp.postalCode.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{vm.postalCode.zipCode}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.state">State</span></dt>
        <dd>
            <span>{{vm.postalCode.state}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.city">City</span></dt>
        <dd>
            <span>{{vm.postalCode.city}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.county">County</span></dt>
        <dd>
            <span>{{vm.postalCode.county}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.stateFips">State Fips</span></dt>
        <dd>
            <span>{{vm.postalCode.stateFips}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.countyFip">County Fip</span></dt>
        <dd>
            <span>{{vm.postalCode.countyFip}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.postalCode.latitude}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.postalCode.longitude}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.preference">Preference</span></dt>
        <dd>
            <span>{{vm.postalCode.preference}}</span>
        </dd>
        <dt><span data-translate="newLtlApp.postalCode.type">Type</span></dt>
        <dd>
            <span>{{vm.postalCode.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="postal-code-detail.edit({id:vm.postalCode.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
